# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Repo clones folder (optional, if you don't want to track cloned repos)
app/repos/

# PyCharm
.idea/
*.iml